

/*Footer*/ 

.pie-pagina{
    width: 100%;
    background-color:  rgb(61, 151, 151);
    .grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        .box{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 250px;
                
                }
                

            
            }
        }.box{
            p{
            color: aliceblue;
            margin-bottom: 10px;
        
        }
            h4{
                color: white;
                margin-bottom: 25px;
                font-size: 20px;
            }
        }.box{
            h4{
                color: white;
                margin-bottom: 25px;
                font-size: 20px;
            }.red-social{
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: white;
                    margin-right: 10px;
                    background-color: black;
                    text-align: center;
                    text-transform: uppercase;
                    transition: all 600ms ease;
                    &:hover{
                        color: gold
                    }
                }
            }
        }

    }.grupo-2{
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: white;
        small{
            font-size: 15px;
        
        }
    
    
    }

}

